In [4]:
import pandas as pd
from geopy import distance
import pandas as pd
# import geopandas as gpd
import geopy
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

In [ ]:


locator = Nominatim(user_agent="myGeocoder")
geocode = RateLimiter(locator.geocode, min_delay_seconds=1)

def lat_long(row):
    loc = locator.geocode(row["Details"])
    row["latitude"] = loc.latitude
    row["longitude"] = loc.longitude
    return row

results.apply(lat_long, axis=1)

In [1]:
#Distance with geopy test with one unit, one supplier
from geopy import distance
unit_1 = (41.578720,-90.536458)
supplier_1 = (40.211510,-83.320576)
print(distance.geodesic(unit_1, supplier_1).miles)
print(distance.geodesic(unit_1, supplier_1).km)
print(distance.great_circle(unit_1, supplier_1).miles)
print(distance.great_circle(unit_1, supplier_1).km)

OSError: [Errno 22] Invalid argument

In [4]:
motors_filtered = pd.read_csv('motors_filtered_dataset_1.csv')
motors_filtered.head()

,mth1_mth12_qty,unit_price_per1_usd,gross_wght,DISPLACEMENT-CM3/REV,RATED PRESSURE-KPA,REV/MINUTE-SPEED-,TORQUE-N-M,unit_lat,unit_lon,splr_lat,splr_lon
0,780,195.4800,12.300,160.0,20500.000000,477.0,455.0,41.726445,-93.621804,35.423000,-96.911900
1,49,195.4800,12.300,160.0,20500.000000,477.0,455.0,41.726445,-93.621804,35.423000,-96.911900
2,87,123.0850,3.089,16.8,21000.000000,4000.0,0.0,42.565394,-90.693583,42.031977,-93.573659
3,14,2593.0609,239.000,2294.0,40000.000000,100.0,3647.0,41.523594,-90.442517,42.719763,-87.958409
4,8,1869.4200,30.000,80.0,44815.934064,4667.0,0.0,41.726445,-93.621804,34.697744,-82.239009

In [7]:
#create a tuple for origin and destinations
motors_filtered['origin'] = list(zip(motors_filtered.unit_lat, motors_filtered.unit_lon))
motors_filtered['Destination'] = list(zip(motors_filtered.splr_lat, motors_filtered.splr_lon))
#calculate distances
motors_filtered['distance'] = motors_filtered.apply(lambda row: distance.geodesic(row['origin'], row['Destination']).miles, axis=1)
# motors_filtered['distance_haversine'] = motors_filtered.apply(lambda row: distance.great_circle(row['origin'], row['Destination']).miles, axis=1)
#distance using osmnx library
#get coords #unit_lat(Y), unit_lon(X), splr_lon(X), splr_lat(Y)
# orig_x = motors_filtered['unit_lon']
# orig_y = motors_filtered["unit_lat"]
# dest_x = motors_filtered["splr_lon"]
# dest_y = motors_filtered["splr_lat"]
# #calculate distancewith osmnx
# motors_filtered['Distance_osmnx_mile']= round(ox.distance.great_circle_vec(orig_y, orig_x, dest_y, dest_x)*0.000621371)
motors_filtered.head()

,mth1_mth12_qty,unit_price_per1_usd,gross_wght,DISPLACEMENT-CM3/REV,RATED PRESSURE-KPA,REV/MINUTE-SPEED-,TORQUE-N-M,unit_lat,unit_lon,splr_lat,splr_lon,origin,Destination,distance_geodesic,distance_haversine
0,780,195.4800,12.300,160.0,20500.000000,477.0,455.0,41.726445,-93.621804,35.423000,-96.911900,"(41.72644509, -93.621804)","(35.422999999999995, -96.9119)",469.772075,470.289310
1,49,195.4800,12.300,160.0,20500.000000,477.0,455.0,41.726445,-93.621804,35.423000,-96.911900,"(41.72644509, -93.621804)","(35.422999999999995, -96.9119)",469.772075,470.289310
2,87,123.0850,3.089,16.8,21000.000000,4000.0,0.0,42.565394,-90.693583,42.031977,-93.573659,"(42.56539388, -90.6935832)","(42.03197699, -93.5736589)",152.088667,151.721045
3,14,2593.0609,239.000,2294.0,40000.000000,100.0,3647.0,41.523594,-90.442517,42.719763,-87.958409,"(41.52359384, -90.4425166)","(42.71976298, -87.9584089)",152.002839,151.770222
4,8,1869.4200,30.000,80.0,44815.934064,4667.0,0.0,41.726445,-93.621804,34.697744,-82.239009,"(41.72644509, -93.621804)","(34.697744, -82.239009)",785.406523,784.767146

In [9]:
#calculate distance for motors with data imputed
motors_imputed = pd.read_csv('motors_imputed_data_1.csv')

In [10]:
#create a tuple for origin and destinations
motors_imputed['origin'] = list(zip(motors_imputed.unit_lat, motors_imputed.unit_lon))
motors_imputed['Destination'] = list(zip(motors_imputed.splr_lat, motors_imputed.splr_lon))
#calculate distances
motors_imputed['distance'] = motors_imputed.apply(lambda row: distance.geodesic(row['origin'], row['Destination']).miles, axis=1)
# motors_imputed['distance_haversine'] = motors_imputed.apply(lambda row: distance.great_circle(row['origin'], row['Destination']).miles, axis=1)
motors_imputed.head()

,unit_price_per1_usd,DISPLACEMENT-CM3/REV,unit_lat,REV/MINUTE-SPEED-,RATED PRESSURE-KPA,splr_lon,MOTOR CONFIGURATION-,unit_lon,splr_lat,gross_wght,TYPE OUTPUT CONTROL-,mth1_mth12_qty,origin,Destination,distance_geodesic,distance_haversine
0,464.71,49.0000,41.504604,680.918919,0.0,-93.466568,IG,-90.533652,44.86021,8.860,FD,162,"(41.50460353, -90.5336523)","(44.86020999, -93.466568)",274.929181,274.889023
1,464.71,49.0000,41.504604,680.918919,0.0,-93.466568,IG,-90.533652,44.86021,8.860,FD,1584,"(41.50460353, -90.5336523)","(44.86020999, -93.466568)",274.929181,274.889023
2,231.29,130.6049,41.004914,680.918919,0.0,-96.911900,IG,-92.414163,35.42300,12.574,FD,4,"(41.00491361, -92.4141629)","(35.422999999999995, -96.9119)",456.051123,456.306953
3,102.61,65.5000,41.523594,680.918919,0.0,-93.466568,IG,-90.442517,44.86021,6.500,FD,69,"(41.52359384, -90.4425166)","(44.86020999, -93.466568)",276.328343,276.272717
4,195.48,160.0000,41.726445,477.000000,20500.0,-96.911900,IG,-93.621804,35.42300,12.300,FD,780,"(41.72644509, -93.621804)","(35.422999999999995, -96.9119)",469.772075,470.289310

In [11]:
motors_imputed.to_csv('motors_imputed_dist.csv')
motors_filtered.to_csv('motors_filtered_dist.csv')